*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono ExtraLight", sans-serif;
    font-size: 16px;
}

body {
    background-color: #e0e0e0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 20px #ccc;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.controls > .button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px 10px;
    transition: border-color 200ms linear;
    user-select: none;
}
.controls > .button:hover {
    cursor: pointer;
    border-color: #888;
}
.controls > .button.disabled,
.controls > .button.disabled:hover{
    cursor: not-allowed;
    background-color: #eee;
    border-color: #ccc;
    pointer-events: none;
}

.list {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.list > .item {
    margin: 5px;
    padding: 5px;
    border: 1px solid #888888;
    border-radius: 5px;
    background-color: #f6f6f6;
    user-select: none;
    transform: translate(0, 0);
    transition: transform 200ms linear;
}
.list > .item:hover {
    cursor: pointer;
    background-color: #e9f9e9;
}
.list > .item.selected {
    background-color: #f9e9e9;
    border-color: #dea8a8;
}